# Deploy to Azure Kubernetes Service
# Build and push image to Azure Container Registry; Deploy to Azure Kubernetes Service
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

name: $(SourceBranchName)_$(Date:yyyyMMdd)$(Rev:.r)

trigger:
- master
- develop

resources:
- repo: self

variables:

  # Container registry service connection established during pipeline creation
  dockerRegistryServiceConnection: ''
  imageRepository: 'angular'
  containerRegistry: 'mcrbattlestar.azurecr.io'
  dockerfilePath: '**/Dockerfile'
  # TODO: Optional replace BuildId with BuildNumber
  # tag: '$(Build.BuildId)'
  tag: '$(Build.BuildNumber)'
  imagePullSecret: ''

  # Agent VM image name
  vmImageName: 'ubuntu-latest'
  vmWinImageName: 'windows-latest'
  binOnly: 'productionlocal'

stages:
- stage: Build
  displayName: Build stage
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: $(vmImageName)
    steps:
    - task: Docker@2
      displayName: Build Develop and push an image to container registry
      condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/develop'))
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)-develop
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Build Production and push an image to container registry
      condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)-production
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
    - task: Docker@2
      displayName: Build BinOnly and push an image to container registry
      condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
      inputs:
        command: buildAndPush
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)-$(binOnly)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag).$(binOnly)

    - script: |
        CID=$(docker create $(containerRegistry)/$(imageRepository):$(tag).$(binOnly))
        docker cp $CID:/usr/share/dist ./dist
      displayName: Extract Binaries

    - task: ArchiveFiles@2
      inputs:
        rootFolderOrFile: './dist'
        includeRootFolder: true 
        archiveType: 'zip'
        archiveFile: './$(containerRegistry).$(imageRepository).$(tag).zip'

    # - task: Docker@2
    #   displayName: Login to ACR
    #   inputs:
    #     command: login
    #     containerRegistry: $(dockerRegistryServiceConnection)

    # - task: Docker@2
    #   displayName: Copy image to host
    #   condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))
    #   inputs:
    #     command: cp
    #     arguments: $(docker create $(imageRepository):$(tag).$(binOnly)):/usr/src/app/dist/docker-angular-starter ./$(binOnly)
        
    - script: ls -la $(Pipeline.Workspace)
      displayName: -> list Pipeline.Workspace
    - script: ls -la $(Pipeline.Workspace)/s
      displayName: -> list Pipeline.Workspace Source
    - script: ls -la $(Pipeline.Workspace)/s/dist
      displayName: -> list cp files        

    - upload: './$(containerRegistry).$(imageRepository).$(tag).zip'
      displayName: 'Upload Binaries'
      artifact: bin

    - upload: deployments
      displayName: 'Upload Manifests'
      artifact: manifests


- stage: DeployDevelop
  displayName: Deploy Develop
  dependsOn: Build
  condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/develop'))

  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      vmImage: $(vmImageName)
    environment: 'angular-develop.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo '$(mynonsecret)'
            displayName: '*** my non secrect - experiment'
          - script: echo '$(mysecret)'
            displayName: '*** my secrect - experiment'
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/manifests/develop/deployment.yml
                $(Pipeline.Workspace)/manifests/develop/service.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)


- stage: DeployBlobStorage
  displayName: Deploy to Blob Storage with Windows Host Agent
  dependsOn: Build
  condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))

  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      vmImage: $(vmWinImageName)
    # Environment with no resources. No .default
    environment: 'angular-blob'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: ls -la $(Pipeline.Workspace)
            displayName: -> list Workspace files 
          - script: ls -la $(Pipeline.Workspace)/bin
            displayName: -> list bin files        

# Azure File Copy task https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops
# Create ARM Service Connection for field azureSubscription https://docs.microsoft.com/en-us/azure/devops/pipelines/library/connect-to-azure?view=azure-devops#create-an-azure-resource-manager-service-connection-using-automated-security
# Add Role Assignment to Storage Account via Storage Account -> IAM -> Role Assignments -> Add Role Assignment -> Storage Blob Data Contributor -> Search Security Principal -> Save
# Find the latest Security Principal AAD -> App Registrations -> All applications
          - task: AzureFileCopy@4
            inputs:
              azureSubscription: 'mscangular' 
              destination: azureBlob
              storage: 'mstbattlestar'
              containerName: 'myblob'
              sourcePath: '$(Pipeline.Workspace)/bin/$(containerRegistry).$(imageRepository).$(tag).zip'

- stage: DeployStage
  displayName: Deploy Stage
  dependsOn: Build
  condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))

  jobs:
  - deployment: Deploy
    displayName: Deploy
    pool:
      vmImage: $(vmImageName)
# TODO: Goto Enivronment Tab create new Environment angular-stage
    environment: 'angular-stage.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo '$(mynonsecret)'
            displayName: '*** my non secrect - experiment'
          - script: echo '$(mysecret)'
            displayName: '*** my secrect - experiment'
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/manifests/stage/deployment.yml
                $(Pipeline.Workspace)/manifests/stage/service.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)


# Alternative: based on Environments dedicated to Approvals or Not
# - stage: 'Approval not required'
#   jobs:
#   - deployment: 'MyDeployment'
#     displayName: MyDeployment
#     environment: 'ApprovalNotRequired'
#     strategy:
#       runOnce:
#         deploy:
#           # whatever

# - stage: 'Approval required'
#   jobs:
#   - deployment: 'MyDeployment2'
#     displayName: MyDeployment2
#     environment: 'ApprovalRequired'
#     strategy:
#       runOnce:
#         deploy:
#           # whatever


- stage: DeployProd
  displayName: Deploy Production
  dependsOn: DeployStage
  condition: and(succeeded(), eq(variables['build.sourceBranch'], 'refs/heads/master'))

  jobs:
  - job: waitForApproval
    displayName: Wait for Approval  
    pool: server    
    timeoutInMinutes: 4320 # job times out in 3 days
    steps:   
    - task: ManualValidation@0
      timeoutInMinutes: 1440  # task times out in 1 day
      inputs:
        notifyUsers: |
          vincenthome@hotmail.com
        instructions: 'Please review and approve production release'

  - deployment: Deploy
    displayName: Deploy
    pool:
      vmImage: $(vmImageName)
# TODO: Goto Enivronment Tab create new Environment angular-production
# TODO: Goto Environment Tab and add Approval on Production environment
    environment: 'angular-production.default'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo '$(mynonsecret)'
            displayName: '*** my non secrect - experiment'
          - script: echo '$(mysecret)'
            displayName: '*** my secrect - experiment'
          - task: KubernetesManifest@0
            displayName: Create imagePullSecret
            inputs:
              action: createSecret
              secretName: $(imagePullSecret)
              dockerRegistryEndpoint: $(dockerRegistryServiceConnection)

          - task: KubernetesManifest@0
            displayName: Deploy to Kubernetes cluster
            inputs:
              action: deploy
              manifests: |
                $(Pipeline.Workspace)/manifests/production/deployment.yml
                $(Pipeline.Workspace)/manifests/production/service.yml
              imagePullSecrets: |
                $(imagePullSecret)
              containers: |
                $(containerRegistry)/$(imageRepository):$(tag)

